<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Connection String" value="server=localhost;port=5432;database=steam;userid=steam;password='foo';timeout=0"/>
    <add key="Brute Force Base" value="76561197960265729"/>
    <add key="Brute Force Target" value="76561199024450000"/>
    <add key="Method" value="BruteForce"/>
    <add key="Thread Count" value="50"/>
  </appSettings>
</configuration>
